.box-avengers{
   
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.avenger{
    flex: 0 0 30%;
    border: 1px solid #c5c4c4;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.box-avengers img{
    width: 180px;
    height: 110px;
}
section.container h1{
    font-size: 32px;
    margin: 5px;
}